.card {
    height: 6.25rem;
    width: 50%;
    padding: 1.5rem;

    background: #735bf2;
    color: #fff;

    border-radius: 10px;
    margin-bottom: 1.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card strong {
    font-size: 1.125rem;
}